<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-首页</title>
    <script src="./js/jquery-1.12.4.min.js"></script>
    <script src="../web_back/js/template-web.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="header">
        <a href="#" class="logo fl"><img src="images/logo.png" alt="logo"></a>
        <div class="search_form fl">
            <input type="text" class="search_txt" placeholder="黑洞照片">
            <button class="search_btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="link_info fr">
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
        </div>
    </div>

    <div class="menu_con">
        <div class="menu">
            <div class="menu_collapse fl">
                <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                <ul class="level_two">
                    <li class="up"></li>
                    <li><a href="#">最 新</a></li>
                    <li><a href="#">科 技</a></li>
                    <li><a href="#">股 市</a></li>
                    <li><a href="#">商 品</a></li>
                    <li><a href="#">外 汇</a></li>
                    <li><a href="#">公 司</a></li>
                </ul>
            </div>
            <ul class="left_menu fl">
                <li><a href="#">最 新</a></li>
                <li><a href="#">科 技</a></li>
                <li><a href="#">股 市</a></li>
                <li><a href="#">商 品</a></li>
                <li><a href="#">外 汇</a></li>
                <li><a href="#">公 司</a></li>
            </ul>
            <ul class="right_menu fr">
                <li><a href="#">科技专题</a></li>
                <li><a href="#">财经专题</a></li>
            </ul>
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_con">
            <ul class="focus_list">
                <li class="first">
                    <a href="#"><img src="images/pic01.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic02.jpg" alt=""></a>
                    <p>图片说明图片说明图片说明图片说明图片说明图片说明图片说明图片说明图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic03.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic05.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
                <li>
                    <a href="#"><img src="images/pic06.jpg" alt=""></a>
                    <p>图片说明</p>
                </li>
            </ul>

            <div class="common_title">
                <h3><i class="fa fa-edit"></i> 最新资讯</h3>
                <a href="#" class="more"><i class="fa fa-angle-double-right"></i></a>
            </div>

            <div class="newNews">
                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic09.jpg" alt=""></a>
                    <h4><a href="#">亚马逊金融试水中国？背后却是和华尔街的“金融战争” </a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic03.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱,马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic05.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic07.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>

                <div class="common_news_list">
                    <a href="#" class="list_pic"><img src="images/pic10.jpg" alt=""></a>
                    <h4><a href="#">马斯克的新花样？连接人脑和电脑的初创公司又筹了一笔钱</a></h4>
                    <p>亚马逊抛弃了中国的买家们，却难以割舍庞大的卖家市场，有消息指出亚马逊中国将针对中国庞大的卖家群体推出一项贷款推荐计划。在连续对印度、墨西哥等新兴市场大力推广线上支付服务后，亚马逊金融试水进军中国市场的信号终于被放出。
                    </p>
                    <div class="new_info">
                        <span>标签：财经&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( 5
                            )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( 10 )</span>
                        <b>发布于 2018-08-30 12:18:58</b>
                    </div>
                </div>
            </div>

        </div>
        <div class="right_con">
            <div class="common_wrap">
                <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                <ul class="content_list weekend_Rank">
                    <li><span class="first">1</span><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><span class="second">2</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span class="third">3</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>4</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>5</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>6</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><span>7</span><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                <ul class="content_list comment_list">
                    <li>
                        <span>山</span>
                        <b><em>山治</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>丽</span>
                        <b><em>丽丽</em> 9个月前(08-14)说:9个月前(08-14)说:9个月前(08-14)说:</b>
                        <strong>挺会玩的挺会玩的挺会玩的挺会玩的</strong>
                    </li>
                    <li>
                        <span>R</span>
                        <b><em>Rechael</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>J</span>
                        <b><em>John</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>段</span>
                        <b><em>段正淳</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>乔</span>
                        <b><em>乔峰</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                <ul class="content_list guanzhu_list">
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                    <li><a href="#">神奇的水滴摄影，泡泡中的世界</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
        <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>

    <!-- 分类下拉框模板 -->
    <script id="class_dropDown" type="text/html">
        <li class="up"></li>
        {{each data v}}
        <li><a href="#" class_id = '{{v.id}}' class='drop_class'>{{v.name}}</a></li>
        {{/each}}
    </script>

    <!-- 热点图模板 -->
    <script id="hot_pic" type="text/html">
        <!-- each 遍历对象 data as cover( 对象属性) i(下标) -->
        {{each data as cover i}}
        {{if i == 0}}
        <li class="first">
            <a href="#"><img src="{{cover.cover}}" alt=""></a>
            <p>图片说明</p>
        </li>
        {{else}}
        <li>
            <a href="#"><img src="{{cover.cover}}" alt=""></a>
            <p>图片说明</p>
        </li>
        {{/if}}
        {{/each}}
    </script>

    <!-- 一周热门模板 -->
    <script id="weekend_Rank" type="text/html">
        {{each data as value i}}
        {{if i == 0}}
        <li><span class="first">{{i+1}}</span><a href="#">{{value.title}}</a></li>
        {{else if i == 1}}
        <li><span class="second">{{i+1}}</span><a href="#">{{value.title}}</a></li>
        {{else if i == 2}}
        <li><span class="third">{{i+1}}</span><a href="#">{{value.title}}</a></li>
        {{else}}
        <li><span>{{i+1}}</span><a href="#">{{value.title}}</a></li>
        {{/if}}
        {{/each}}
    </script>

    <!-- 最新评论模板 -->
    <script id='comment_List' type="text/html">
        {{each data v}}
        <li>
            <span>{{v.author[0]}}</span>
            <b><em>{{v.author}}</em> {{v.month}}个月前({{v.author}})说:</b>
            <strong>{{v.intro}}</strong>
        </li>
        {{/each}}
    </script>

    <!-- 焦点关注模板 -->
    <script id="guanzhu_list" type="text/html">
        {{each data v}}
        <li><a href="#">{{v.intro}}</a></li>
        {{/each}}
    </script>

    <!-- 最新资讯模板 -->
    <script id="newNews" type="text/html">
        {{each data v}}
        <div class="common_news_list" article_id = '{{v.id}}'>
            <a href="#" class="list_pic"><img src="{{v.cover}}" alt=""></a>
            <h4><a href="#">{{v.title}}</a></h4>
            <p>{{v.intro}}</p>
            <div class="new_info">
            <span>标签：{{v.title}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( {{v.read}} )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( {{v.comments}} )</span>
            <b>发布于 {{v.date}} 12:18:58</b>
            </div>
        </div>
        {{/each}}
    </script>
    <script>
        $(() => {
            let host = 'http://localhost:8080';
            //进入页面 获取文章分类 并渲染到页面中
            $.ajax({
                url: host + '/index/category',
                success: (backData) => {
                    let html_class = template('class_dropDown', backData);
                    $('.level_two,.left_menu').html(html_class);
                }
            })
            //获取并渲染热点图
            $.ajax({
                url: host + '/index/hotpic',
                success: (backData) => {
                    let html_hotpic = template('hot_pic', backData);
                    $('.focus_list').html(html_hotpic);
                }
            })
            //获取并渲染一周热门文章排行
            $.ajax({
                url: host + '/index/rank',
                success: (backData) => {
                    let html_weekendRank = template('weekend_Rank', backData);
                    $('.weekend_Rank').html(html_weekendRank);
                }
            })
            //获取最新评论并渲染
            $.ajax({
                url: host + '/index/latest_comment',
                success: (backData) => {
                    //创建时间对象 用于计算 评论发表至今时间
                    let date = new Date();
                    date = date.toLocaleDateString();
                    dateArr = date.split('/');//将当前时间字符串转数组 用于计算
                    for (let i = 0; i < dateArr.length; i++) {
                        dateArr[i] = Number.parseInt(dateArr[i]);//将数组中的字符串 转为数值型
                    }
                    for (let i = 0; i < backData.data.length; i++) {
                        let date_Com = backData.data[i].date.split('-');//将评论发表时间 转为数组
                        for (let j = 0; j < date_Com.length; j++) {
                            date_Com[j] = Number.parseInt(date_Com[j]);//数组中字符串 转为数值
                        }
                        //计算 评论发表时间 至今的时间

                        backData.data[i].month = dateArr[1] - date_Com[1] > 0 ? (12 * (dateArr[0] - date_Com[0]) + dateArr[1] - date_Com[1]) : (12 * (dateArr[0] - date_Com[0] - 1) + dateArr[1] + (12 - date_Com[1]));

                    }

                    //生成字符串模板
                    let html_commentList = template('comment_List', backData);
                    $('.comment_list').html(html_commentList);
                }
            })
            //获取焦点关注数据 并渲染
            $.ajax({
                url: host + '/index/attention',
                success: (backData) => {
                    let html_jiaodian = template('guanzhu_list', backData);
                    $('.guanzhu_list').html(html_jiaodian);
                }
            })
            //最新资讯
            $.ajax({
                url: host + '/index/latest',
                success: (backData) => {
                    let html_newNews = template('newNews', backData);
                    $(".newNews").html(html_newNews);
                }
            })

            //文章点击事件
            $('.newNews').on('click', '.common_news_list', function (e) {
                e.preventDefault();
                let id = $(this).attr('article_id');
                window.location.href = './article.html?id='+id;
            })

            //文章搜索
            $('.search_txt').on('keydown', (e) => {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    let key = $('.search_txt').val();
                    window.sessionStorage.setItem('key', key);
                    window.location.href = './list.html';
                }
            }).siblings('.search_btn').on('click', (e) => {
                e.preventDefault();
                let key = $('.search_txt').val();
                window.sessionStorage.setItem('key', key);
                window.location.href = './list.html';
            })

            //点击分类跳转事件
            let dropclass_art = document.getElementsByClassName('level_two')[0];
            let class_list = document.getElementsByClassName('left_menu')[0];
            dropclass_art.addEventListener('click', (e) => {
                e.preventDefault();
                if (e.target.className == 'drop_class') {
                    let id = e.target.getAttribute('class_id');
                    window.location.href = './list.html?id=' + id;
                }
            })
            class_list.addEventListener('click', (e) => {
                e.preventDefault();
                if (e.target.className == 'drop_class') {
                    let id = e.target.getAttribute('class_id');
                    window.location.href = './list.html?id=' + id;
                }
            })
        })
    </script>
</body>

</html>